.details-form {
  @include flex-setting(column, flex-start, flex-start, nowrap);

  margin: 0;
  padding: 15px 15px;
  list-style: none;

  width: 300px;
  height: 142px;

  background-image: url('../img/upload-list-bg.png');
  background-repeat: no-repeat;
  background-size: 300px 142px;
  background-position: top center;

  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);

  margin-bottom: 10px;

  &__item {
    @include flex-setting(row, flex-start, center, nowrap);

    width: 100%;

    position: relative;

    &:first-of-type {
      flex-direction: column;
      align-items: flex-start;
    }

    &:nth-of-type(2) {
      margin-bottom: 15px;
    }
  }

  &__label {
    @include font-setting($primary-font, 1em, 1.2, 400, $text-primary);

    margin-bottom: 2px;
    width: 100%;
    text-align: left;

    &--checkbox {
      font-size: 0.65em;
      margin-bottom: 0;
    }

    &--link {
      color: $text-primary;
      text-decoration: none;
      border-bottom: 2px solid #ff6700;

      &:hover {
        color: #ff6700;
      }
    }
  }

  &__input {
    width: 100%;
    height: 31px;

    border: none;
    background-color: transparent;

    background-image: url('../img/upload-input-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 270px 31px;

    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.4)inset;
    -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.4)inset;
    -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.4)inset;

    padding-left: 7px;
    padding-right: 7px;

    margin-bottom: 15px;

    outline: none;
    cursor: text;

    @include font-setting($primary-font, 1.125em, 1.2, 400, $text-primary);
  }

  &__checkbox + label {
    @include checkbox-default;
  }

  &__checkbox--personal + label::before {
    @include custom-checkbox-1;
  }

  &__checkbox--agreement + label::before {
    @include custom-checkbox-2;
  }

  &__checkbox:checked + label::after {
    @include checkbox-checked;
  }

  &__error {
    @include font-setting($primary-font, 0.5em, 1.2, 400, $text-error);

    position: absolute;
    left: 0;
    bottom: 3px;

    display: none;

    &--personal {
      bottom: -13px;
    }

    &--agreement {
      bottom: -13px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .details-form {
    width: 335px;
    height: 159px;

    background-size: 335px 159px;

    margin-bottom: 15px;

    &__label {
      &--checkbox {
        font-size: 0.75em;
      }
    }

    &__input {
      height: 35px;
      background-position: top center;
      background-size: 305px 35px;

      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .details-form {
    width: 374px;
    height: 178px;

    background-size: 374px 178px;

    margin-bottom: 25px;

    &__label {
      font-size: 1.125em;

      &--checkbox {
        font-size: 0.85em;
      }
    }

    &__input {
      height: 39px;
      background-size: 344px 39px;

      font-size: 1.375em;

      margin-bottom: 25px;
    }

    &__error {
      font-size: 0.625em;

      bottom: 10px;

      &--personal {
        bottom: -13px;
      }

      &--agreement {
        bottom: -13px;
      }
    }
  }
}

@media only screen and (min-width: $smt) {
  .details-form {
    width: 429px;
    height: 202px;

    background-size: 429px 202px;

    margin-bottom: 18px;

    padding-left: 22px;
    padding-right: 22px;

    &__item {
      &:nth-of-type(2) {
        margin-bottom: 25px;
      }
    }

    &__label {
      font-size: 1.188em;

      &--checkbox {
        font-size: 0.938em;
      }
    }

    &__input {
      height: 44px;
      background-size: 384px 44px;

      font-size: 1.75em;

      margin-bottom: 25px;

      padding-left: 15px;
      padding-right: 15px;
    }

    &__error {
      font-size: 0.75em;

      bottom: 10px;

      &--personal {
        bottom: -16px;
      }

      &--agreement {
        bottom: -16px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .details-form {
    width: 284px;
    height: 134px;

    background-size: 284px 134px;

    margin-bottom: 18px;

    &__item {
      &:nth-of-type(2) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-size: 1em;

      &--checkbox {
        font-size: 0.6em;
      }
    }

    &__input {
      height: 29px;
      background-size: 254px 29px;

      font-size: 1.125em;

      margin-bottom: 15px;

      padding-left: 15px;
      padding-right: 15px;
    }

    &__error {
      font-size: 0.45em;

      bottom: 5px;

      &--personal {
        bottom: -11px;
      }

      &--agreement {
        bottom: -11px;
      }
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .details-form {
    width: 378px;
    height: 179px;

    background-size: cover;

    margin-bottom: 18px;

    &__item {
      &:nth-of-type(2) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-size: 1.074em;
      margin-bottom: 5px;

      &--checkbox {
        font-size: 0.83em;
      }
    }

    &__input {
      height: 39px;
      background-size: contain;

      font-size: 1.563em;

      margin-bottom: 15px;

      padding-left: 15px;
      padding-right: 15px;
    }

    &__error {
      font-size: 0.55em;
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .details-form {
    width: 485px;
    height: 230px;
    background-size: cover;
    margin-bottom: 30px;

    &__item {
      &:nth-of-type(2) {
        margin-bottom: 15px;
      }
    }

    &__label {
      font-size: 1.375em;
      margin-bottom: 10px;

      &--checkbox {
        font-size: 1.063em;
      }
    }

    &__input {
      height: 50px;
      background-size: cover;

      font-size: 2em;

      margin-bottom: 28px;
    }

    &__error {
      font-size: 0.875em;
      bottom: 10px;
    }
  }
}
