@font-face {
	font-family: 'boorsok';
	src: url('../fonts/boorsok.eot');
	src: local('☺'), url('../fonts/boorsok.woff') format('woff'), url('../fonts/boorsok.ttf') format('truetype'), url('../fonts/boorsok.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Oswald-ExtraLight';
	src: url('../fonts/Oswald-ExtraLight.eot');
	src: local('☺'), url('../fonts/Oswald-ExtraLight.woff') format('woff'), url('../fonts/Oswald-ExtraLight.otf') format('opentype'), url('../fonts/Oswald-ExtraLight.ttf') format('truetype'), url('../fonts/Oswald-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: local('☺'), url('../fonts/Oswald-Light.woff') format('woff'), url('../fonts/Oswald-Light.otf') format('opentype'), url('../fonts/Oswald-Light.ttf') format('truetype'), url('../fonts/Oswald-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: local('☺'), url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.otf') format('opentype'), url('../fonts/Oswald-Regular.ttf') format('truetype'), url('../fonts/Oswald-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Medium';
	src: url('../fonts/Oswald-Medium.eot');
	src: local('☺'), url('../fonts/Oswald-Medium.woff') format('woff'), url('../fonts/Oswald-Medium.otf') format('opentype'), url('../fonts/Oswald-Medium.ttf') format('truetype'), url('../fonts/Oswald-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Bold';
	src: url('../fonts/Oswald-Bold.eot');
	src: local('☺'), url('../fonts/Oswald-Bold.woff') format('woff'), url('../fonts/Oswald-Bold.otf') format('opentype'), url('../fonts/Oswald-Bold.ttf') format('truetype'), url('../fonts/Oswald-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-SemiBold';
	src: url('../fonts/Oswald-SemiBold.eot');
	src: local('☺'), url('../fonts/Oswald-SemiBold.woff') format('woff'), url('../fonts/Oswald-SemiBold.otf') format('opentype'), url('../fonts/Oswald-SemiBold.ttf') format('truetype'), url('../fonts/Oswald-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
