.left {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .left {
    @include flex-setting(column,flex-end, center, nowrap);
    width: 25%;

    padding-bottom: 5%;
    margin-left: -1%;

    &__img {
      width: 205px;
      height: 227px;
    }

    /*Для EVENT*/

    &--event {
      width: 33%;

      justify-content: flex-start;

      padding-top: 100px;
      padding-bottom: 0;

      position: relative;

      &::before {
        position: absolute;
        content: '';

        width: 263px;
        height: 440px;

        background-image: url('../img/event-left-girl.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 263px auto;

        bottom: -235px;
        left: 10px;

        z-index: -1;
      }
    }

    &__description {
      @include flex-setting(column, center, center, nowrap);

      background-image: url('../img/event-desk-description.png');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 244px 150px;

      width: 244px;
      height: 150px;

      span {
        @include font-setting($primary-font, 0.875em, normal, 400, $text-primary);

        text-align: center;
        margin-top: -25px;

        transform: rotate(-1.5deg);
      }
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .left {
    &__img {
      width: 273px;
      height: 302px;
    }

    /*Для EVENT*/

    &--event {
      padding-top: 100px;
      padding-bottom: 0;

      &::before {
        width: 351px;
        height: 590px;
        background-size: cover;

        bottom: -310px;
        left: 5px;

        transform: rotate(-2deg);
      }
    }

    &__description {
      background-size: 325px 200px;

      width: 325px;
      height: 200px;

      span {
        font-size: 1.103em;
        margin-top: -45px;
        transform: rotate(-1deg);
      }
    }
  }
}
