.right {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .right {
    @include flex-setting(column,flex-start, center, nowrap);
    width: 25%;

    padding-top: 3%;
    margin-right: -3%;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      width: 177px;
      height: 260px;

      background-size: 177px auto;

      background-image: url('../img/char-2.svg');
      background-repeat: no-repeat;

      bottom: -25px;
      right: -5px;
    }

    &::after {
      position: absolute;
      content: '';

      width: 134px;
      height: 176px;

      background-size: 136px auto;
      background-image: url('../img/char-1.svg');
      background-repeat: no-repeat;

      bottom: -25px;
      right: 125px;
    }

    &__title {
      @include font-setting($primary-font, 1.25em, normal, 400, $text-primary);
      display: inline-flex;

      text-align: center;
      transform: rotate(-2deg);
      margin-top: 5px;
      margin-bottom: -5px;
    }

    &__list {
      @include flex-setting(column, flex-start, center, nowrap);

      margin: 0;
      padding: 0;
      list-style: none;

      padding-top: 25px;

      width: 240px;
      height: 193px;

      background-image: url('../img/popup-rules-list.png');
      background-size: 240px 193px;
      background-position: top center;
      background-repeat: no-repeat;
    }

    &__item {
      width: 200px;
      transform: rotate(-2deg);

      @include flex-setting(row, flex-start, center, nowrap);

      &:nth-of-type(2) {
        padding-left: 10px;
      }
    }

    &__nr {
      @include font-setting($primary-font, 1.125em, normal, 400, $text-primary);
      @include flex-setting(column, center, center, nowrap);

      border-radius: 50%;
      margin-right: 5px;

      background-color: #b7dfe4;

      &:nth-of-type(1) {
        min-width: 25px;
        height: 25px;

        background-image: url('../img/popup-rules-item-1.png');
        background-size: 25px 25px;
        background-repeat: no-repeat;
      }

      &:nth-of-type(2) {
        min-width: 28px;
        height: 28px;

        background-image: url('../img/popup-rules-item-2.png');
        background-size: 28px 28px;
        background-repeat: no-repeat;
      }

      &:nth-of-type(3) {
        min-width: 27px;
        height: 27px;

        background-image: url('../img/popup-rules-item-3.png');
        background-size: 27px 27px;
        background-repeat: no-repeat;
      }
    }

    &__text {
      @include font-setting($primary-font, 0.75em, normal, 400, $text-primary);
    }

    /*Для EVENT*/

    &--event {
      width: 33%;

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &__description {
      width: 275px;
      height: 75px;

      background-image: url('../img/right-description-bg.png');
      background-size: 275px 75px;
      background-position: top center;
      background-repeat: no-repeat;

      margin-bottom: 30px;

      span {
        @include font-setting($primary-font, 0.875em, normal, 400, $text-primary);
        display: inline-flex;

        text-align: center;
        width: 265px;

        transform: rotate(1deg);

        padding-top: 10px;
        padding-left: 4px;
      }
    }

    &__img {
      width: 270px;
      height: 227px;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .right {
    padding-top: 3%;

    &::before {
      width: 177px;
      height: 260px;

      background-size: 177px auto;

      bottom: -25px;
      right: -5px;
    }

    &::after {
      width: 134px;
      height: 176px;

      background-size: 136px auto;

      bottom: -25px;
      right: 125px;
    }

    &__title {
      font-size: 1.493em;
      margin-top: 5px;
      margin-bottom: 0px;
    }

    &__list {
      padding-top: 25px;

      width: 311px;
      height: 252px;

      background-size: 311px 252px;
    }

    &__item {
      width: 250px;
      margin-bottom: 10px;

      &:nth-of-type(2) {
        padding-left: 10px;
      }
    }

    &__nr {
      font-size: 1.517em;
      margin-right: 5px;

      &:nth-of-type(1) {
        min-width: 32px;
        height: 32px;

        background-size: 32px 32px;
      }

      &:nth-of-type(2) {
        min-width: 34px;
        height: 35px;

        background-size: 34px 35px;
      }

      &:nth-of-type(3) {
        min-width: 33px;
        height: 34px;

        background-size: 33px 34px;
      }
    }

    &__text {
      font-size: 1.101em;
    }

    /*Для EVENT*/

    &__description {
      width: 345px;
      height: 94px;

      background-size: 345px 94px;

      margin-bottom: 30px;

      span {
        font-size: 1.029em;
        width: 315px;

        padding-top: 15px;
        padding-left: 20px;
      }
    }

    &__img {
      width: 360px;
      height: 303px;
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .right {
    padding-top: 3%;

    &::before {
      width: 308px;
      height: 446px;

      background-size: 308px auto;

      bottom: -85px;
      right: -10px;
    }

    &::after {
      width: 206px;
      height: 270px;

      background-size: 206px auto;

      bottom: -70px;
      right: 200px;
    }

    &__title {
      font-size: 1.779em;
      margin-top: 5px;
      margin-bottom: -5px;
    }

    &__list {
      padding-top: 35px;
      padding-left: 10px;

      width: 406px;
      height: 332px;

      background-size: cover;
    }

    &__item {
      width: 340px;
      margin-bottom: 10px;

      &:nth-of-type(2) {
        padding-left: 15px;
      }
    }

    &__nr {
      font-size: 1.98em;
      margin-right: 10px;

      &:nth-of-type(1) {
        min-width: 41px;
        height: 40px;

        background-size: 41px 40px;
      }

      &:nth-of-type(2) {
        min-width: 45px;
        height: 45px;

        background-size: 45px 45px;
      }

      &:nth-of-type(3) {
        min-width: 44px;
        height: 45px;

        background-size: 44px 45px;
      }
    }

    &__text {
      font-size: 1.438em;
    }

    /*Для EVENT*/

    &__description {
      width: 480px;
      height: 131px;

      background-size: cover;

      margin-bottom: 30px;

      span {
        font-size: 1.438em;
        width: 440px;

        padding-top: 20px;
        padding-left: 20px;
      }
    }

    &__img {
      width: 502px;
      height: 423px;
    }
  }
}
