.upload-form {
  width: 100%;
  height: 100%;

  @include container;
  @include flex-setting(column, space-between, center, nowrap);

  /*ФОРМА ЗАГРУЗКИ ФОТО*/
  &__photo {
    width: 300px;
    height: 197px;

    @include flex-setting(column, center, center, nowrap);

    background-image: url('../img/upload-file-bg.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: top center;

    padding: 10px 10px;
    margin-bottom: 10px;

    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
  }

  &__body {
    @include flex-setting(column, center, center, nowrap);

    width: 100%;
    height: 100%;


    position: relative;
  }

  &__bg {
    display: block;

    position: absolute;

    height: 100%;
    width: 100%;

    background-color: #579f9c;

    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--closed {
      display: none;
    }
  }

  &__description {
    display: none; /*Скрыто на мобильных*/
  }

  &__img {
    width: 100%;
    height: 100%;

    z-index: -1;
    object-fit: scale-down;
    background-position: top center;
  }

  &__btn {
    position: absolute;

    @include flex-setting(column, center, center, nowrap);
    display: inline-flex;

    width: 280px;
    height: 180px;

    cursor: pointer;
    z-index: 4;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__label {
    @include font-setting($primary-font, 1.25em, normal, 400, $text-form);
    @include flex-setting(column, center, center, nowrap);

    width: 200px;

    text-align: center;
    position: relative;

    padding-top: 70px;

    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/upload-icon.svg');
      background-repeat: no-repeat;
      background-size: 90px 82px;
      background-position: top center;

      width: 90px;
      height: 82px;

      top: -15px;
      left: 50%;

      transform: translateX(-50%);
    }

    &--desktop {
      display: none; /*Скрыто на мобильных*/
    }
  }

  &__upload {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__submit {
    @include flex-setting(column, center, center, nowrap);
    @include font-setting($alternate-font, 1.25em, normal, 400, $text-primary);

    display: inline-flex;

    width: 202px;
    height: 47px;

    background-color: transparent;
    background-image: url('../img/submit-btn-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 202px 47px;

    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
    outline: none;
    border: none;

    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);

    margin-bottom: 5px;
  }
}

@media only screen and (min-width: $mobile) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 335px;
      height: 220px;

      background-size: 335px auto;

      padding: 10px 10px;
      margin-bottom: 15px;
    }

    &__btn {
      width: 310px;
      height: 198px;
    }

    &__label {
      font-size: 1.375em;

      width: 250px;

      padding-top: 100px;

      &::after {
        background-size: 120px 112px;

        width: 120px;
        height: 112px;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 374px;
      height: 246px;

      background-size: 374px auto;

      padding: 13px 13px;
      margin-bottom: 25px;
    }

    &__btn {
      width: 350px;
      height: 220px;
    }

    &__label {
      font-size: 1.5em;

      width: 300px;
    }

    &__submit {
      font-size: 1.75em;

      width: 269px;
      height: 63px;

      background-size: 269px 63px;
    }
  }
}

@media only screen and (min-width: $smt) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 429px;
      height: 282px;

      background-size: 429px auto;

      padding: 13px 13px;
      margin-bottom: 10px;
    }

    &__btn {
      width: 406px;
      height: 255px;
    }

    &__label {
      font-size: 1.75em;

      width: 380px;

      padding-top: 150px;

      &::after {
        top: 20px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 292px;
      height: 192px;

      background-size: 292px auto;

      padding: 9px 9px;
      margin-bottom: 10px;
    }

    &__btn {
      width: 276px;
      height: 178px;

      justify-content: flex-end;

      padding-bottom: 15px;
    }

    &__description {
      @include font-setting($primary-font, 0.875em, normal, 400, $text-form);

      display: inline-flex;
      text-align: center;

      position: relative;

      padding-top: 80px;

      &::after {
        position: absolute;
        content: '';

        background-image: url('../img/upload-icon.svg');
        background-repeat: no-repeat;
        background-size: 90px 82px;
        background-position: top center;

        width: 90px;
        height: 82px;

        top: -5px;
        left: 50%;

        transform: translateX(-50%);
      }
    }

    &__label {
      font-size: 1.75em;

      width: 380px;

      padding-top: 150px;

      &::after {
       display: none;
      }

      &--mobile {
        display: none;
      }

      &--desktop {
        @include flex-setting(column, center, center, nowrap);
        @include font-setting($alternate-font, 0.65em, normal, 400, $text-primary);

        width: 124px;
        height: 27px;

        background-image: url('../img/form-btn-bg.png');
        background-size: 124px 27px;
        background-position: top center;
        background-repeat: no-repeat;
        padding: 0;
      }
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 389px;
      height: 256px;

      background-size: cover;

      padding: 9px 9px;
      margin-bottom: 10px;
    }

    &__btn {
      width: 377px;
      height: 245px;

      padding-bottom: 25px;
    }

    &__description {
      font-size: 1.123em;

      padding-top: 100px;

      width: 270px;

      &::after {
        background-size: cover;

        width: 86px;
        height: 79px;

        top: 15px;
        left: 50%;
      }
    }

    &__label {
      &--desktop {
        font-size: 1.008em;

        width: 165px;
        height: 36px;

        background-size: cover;
      }
    }

    &__submit {
      width: 204px;
      height: 47px;
      background-size: 204px 47px;
      font-size: 1.334em;
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .upload-form {
    /*ФОРМА ЗАГРУЗКИ ФОТО*/
    &__photo {
      width: 500px;
      height: 330px;

      padding: 16px 16px;
      margin-bottom: 20px;
    }

    &__btn {
      width: 468px;
      height: 298px;
    }

    &__description {
      font-size: 1.438em;

      padding-top: 130px;

      width: 370px;

      &::after {
        width: 110px;
        height: 102px;
      }
    }

    &__label {
      &--desktop {
        font-size: 1.289em;

        width: 212px;
        height: 46px;
      }
    }

    &__submit {
      width: 269px;
      height: 63px;
      background-size: cover;
      font-size: 1.75em;
    }
  }
}
